li {
	margin-right: 25px;
	a {
		text-decoration: none;
		color: rgba(255, 255, 255, 0.75);
		font-weight: bold;
		font-size: 12px;
		&:hover {
			color: rgba(255, 255, 255, 1);
		}
	}
}

@media screen and (min-width: 916px) {
	li {
		margin-right: 1vw;
		padding-top: 40px;
		position: relative;
		a {
			padding-top: 37px;
			padding-bottom: 33px;
			padding-right: 10px;
			padding-left: 10px;
			width: 100%;
			text-align: center;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 0%;
				height: 7px;
				transition: width 0.3s ease-in-out;
			}
			&:hover {
				&::after {
					width: 100%;
				}
			}
		}
	}

	.Mercury {
		&:hover {
			&::after {
				background-color: var(--mercuryColor);
			}
		}
	}
	.actualMercury {
		border-top: 7px solid var(--mercuryColor);
	}
	.Venus {
		&:hover {
			&::after {
				background-color: var(--venusColor);
			}
		}
	}
	.actualVenus {
		border-top: 7px solid  var(--venusColor);
	}
	.Earth {
		&:hover {
			&::after {
				background-color: var(--earthColor);
			}
		}
	}
	.actualEarth {
		border-top: 7px solid var(--earthColor);
	}
	.Mars {
		&:hover {
			&::after {
				background-color:  var(--marsColor);
			}
		}
	}
	.actualMars {
		border-top: 7px solid  var(--marsColor);
	}
	.Jupiter {
		&:hover {
			&::after {
				background-color: var(--jupiterColor);
			}
		}
	}
	.actualJupiter {
		border-top: 7px solid var(--jupiterColor);
	}
	.Saturn {
		&:hover {
			&::after {
				background-color: var(--saturnColor);
			}
		}
	}
	.actualSaturn {
		border-top: 7px solid var(--saturnColor);
	}
	.Uranus {
		&:hover {
			&::after {
				background-color: var(--uranusColor);
			}
		}
	}
	.actualUranus {
		border-top: 7px solid var(--uranusColor);
	}
	.Neptune {
		&:hover {
			&::after {
				background-color: var(--neptuneColor);
			}
		}
	}
	.actualNeptune {
		border-top: 7px solid var(--neptuneColor);
	}
}
@media screen and (min-width: 651px) and (max-width: 915px) {

	li {
		margin-right: 1vw;
		padding-bottom: 40px;
		width: 100%;
		position: relative;
		margin-left: 10px;
		margin-right: 10px;
	
		a {
			padding-top: 20px;
			padding-bottom: 21.5px;
			width: 100%;
			text-align: center;
			border-bottom: 2px solid transparent;
			position: relative;
	
			&:before {
				content: '';
				position: absolute;
				bottom: -7px;
				left: 50%;
				transform: translateX(-50%);
				width: 0%;
				height: 7px;
				transition: width 0.3s ease-in-out;
				
			}
	
			&:hover:before {
				width: 100%;
			}
		}
	}
	
	.Mercury {
		&:hover:before {
			background-color: var(--mercuryColor);
		}
	}
	.actualMercury {
		border-bottom: 7px solid var(--mercuryColor);
	}
	.Venus {
		&:hover:before {
			background-color: var(--venusColor);
		}
	}
	.actualVenus {
		border-bottom: 7px solid var(--venusColor);
	}
	.Earth {
		&:hover:before {
			background-color: var(--earthColor);
		}
	}
	.actualEarth {
		border-bottom: 7px solid var(--earthColor);
	}
	.Mars {
		&:hover:before {
			background-color: var(--marsColor);
		}
	}
	.actualMars {
		border-bottom: 7px solid var(--marsColor);
	}
	.Jupiter {
		&:hover:before {
			background-color: var(--jupiterColor);
		}
	}
	.actualJupiter {
		border-bottom: 7px solid var(--jupiterColor);
	}
	.Saturn {
		&:hover:before {
			background-color: var(--saturnColor);
		}
	}
	.actualSaturn {
		border-bottom: 7px solid var(--saturnColor);
	}
	.Uranus {
		&:hover:before {
			background-color: var(--uranusColor);
		}
	}
	.actualUranus {
		border-bottom: 7px solid var(--uranusColor);
	}
	.Neptune {
		&:hover:before {
			background-color: var(--neptuneColor);
		}
	}
	.actualNeptune {
		border-bottom: 7px solid var(--neptuneColor);
	}
}
@media screen and (max-width: 650px) {
	li {
		height: 15vw;
		height: 12.5vw;
		a {
			display: block;
			font-size: 3vw;
			&:hover {
				p {
					color: rgba(255, 255, 255, 1);
				}
			}
		}
	}
}
