.solarSystem {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 100vh;

	.sun {
		width: 100px;
		height: 100px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -50px;
		margin-top: -50px;
		border-radius: 100%;
		box-shadow: 0 0 10px 5px #9c8819;
	}

	.planetOrbit {
		border-radius: 50%;
		position: absolute;
		left: 50%;
		top: 50%;
		border: 1px solid rgba(102, 166, 229, 0.12);

		.planet {
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -12.5px;
			margin-left: -12.5px;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
	}

	.mercuryOrbit {
		width: 150px;
		height: 150px;
		margin-left: -75px;
		margin-top: -75px;
		z-index: 10;

		&:hover {
			border: 1px solid var(--mercuryColor);
		}

		.mercury {
			width: 20px;
			height: 20px;
			animation-name: rotate-mercury;
			animation-duration: 5s;
		}
	}

	@keyframes rotate-mercury {
		from {
			transform: rotate(360deg) translateX(75px) rotate(-360deg);
		}
		to {
			transform: rotate(0deg) translateX(75px) rotate(0deg);
		}
	}

	.venusOrbit {
		width: 225px;
		height: 225px;
		margin-left: -112px;
		margin-top: -113px;
		z-index: 9;

		&:hover {
			border: 1px solid var(--venusColor);
		}

		.venus {
			width: 20px;
			height: 20px;
			animation-name: rotate-venus;
			animation-duration: 7s;
		}
	}

	@keyframes rotate-venus {
		from {
			transform: rotate(360deg) translateX(112px) rotate(-360deg);
		}
		to {
			transform: rotate(0deg) translateX(112px) rotate(0deg);
		}
	}

	.earthOrbit {
		width: 300px;
		height: 300px;
		margin-left: -150px;
		margin-top: -150px;
		z-index: 8;

		&:hover {
			border: 1px solid var(--earthColor);
		}

		.earth {
			width: 25px;
			height: 25px;
			animation-name: rotate-earth;
			animation-duration: 9s;
		}
	}

	@keyframes rotate-earth {
		from {
			transform: rotate(360deg) translateX(150px) rotate(-360deg);
		}
		to {
			transform: rotate(0deg) translateX(150px) rotate(0deg);
		}
	}

	.marsOrbit {
		width: 375px;
		height: 375px;
		margin-left: -186px;
		margin-top: -186px;
		z-index: 7;

		&:hover {
			border: 1px solid var(--marsColor);
		}

		.mars {
			width: 21px;
			height: 21px;
			animation-name: rotate-mars;
			animation-duration: 9s;
		}
	}

	@keyframes rotate-mars {
		from {
			transform: rotate(360deg) translateX(186px) rotate(-360deg);
		}
		to {
			transform: rotate(0deg) translateX(186px) rotate(0deg);
		}
	}

	.jupiterOrbit {
		width: 465px;
		height: 465px;
		margin-left: -231px;
		margin-top: -231px;
		z-index: 6;

		&:hover {
			border: 1px solid var(--jupiterColor);
		}

		.jupiter {
			width: 36px;
			height: 36px;
			animation-name: rotate-jupiter;
			animation-duration: 11s;
		}
	}

	@keyframes rotate-jupiter {
		from {
			transform: rotate(0deg) translateX(231px) rotate(0deg);
		}
		to {
			transform: rotate(-360deg) translateX(231px) rotate(360deg);
		}
	}

	// .saturnOrbit {
	// 	width: 555px;
	// 	height: 555px;
	// 	margin-left: -274px;
	// 	margin-top: -274px;
	// 	z-index: 5;

	// 	&:hover {
	// 		border: 1px solid var(--saturnColor);
	// 	}

	// 	.saturn {
	// 		width: 49px;
	// 		height: 49px;
	// 		animation-name: rotate-saturn;
	// 		animation-duration: 13s;
	// 	}
	// }

	// @keyframes rotate-saturn {
	// 	from {
	// 		transform: rotate(0deg) translateX(270px) rotate(0deg);
	// 	}
	// 	to {
	// 		transform: rotate(-360deg) translateX(270px) rotate(360deg);
	// 	}
	// }

	.saturnOrbit {
		width: 555px;
		height: 555px;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		border: 1px solid rgba(102, 166, 229, 0.12);
    z-index: 5;

		&:hover {
			border: 1px solid var(--saturnColor);
		}

		.saturn {
			width: 40px;
			height: 40px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -20px;
			margin-left: -20px;
			animation-name: rotate-saturn;
			animation-duration: 15s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
	}

	@keyframes rotate-saturn {
		from {
			transform: rotate(0deg) translateX(277.5px) rotate(0deg);
		}
		to {
			transform: rotate(-360deg) translateX(277.5px) rotate(360deg);
		}
	}

	// .saturnOrbit {
	//   border-radius: 50%;
	// 	position: absolute;
	//   left: 50%;
	//   top: 50%;
	//   border: 1px solid rgba(102, 166, 229, 0.12);
	//   animation-name: rotate-planet;
	//   animation-iteration-count: infinite;
	//   animation-timing-function: linear;
	// 	width: 555px;
	// 	height: 555px;
	// 	margin-left: -274px;
	// 	margin-top: -274px;
	// 	z-index: 5;
	// 	animation-duration: 15s;

	// 	&:hover {
	// 		border: 1px solid var(--saturnColor);
	// 	}

	//   .saturn {
	//     width: 49px;
	//     height: 49px;
	//     left: 67%;
	//   }
	// }

	.uranusOrbit {
		width: 640px;
		height: 640px;
		margin-left: -320px;
		margin-top: -320px;
		z-index: 4;

		&:hover {
			border: 1px solid var(--uranusColor);
		}

		.uranus {
			width: 29px;
			height: 29px;
			animation-name: rotate-uranus;
			animation-duration: 15s;
		}
	}

	@keyframes rotate-uranus {
		from {
			transform: rotate(360deg) translateX(320px) rotate(-360deg);
		}
		to {
			transform: rotate(0deg) translateX(320px) rotate(0deg);
		}
	}

	.neptuneOrbit {
		width: 720px;
		height: 720px;
		margin-left: -359px;
		margin-top: -359px;
		z-index: 3;

		&:hover {
			border: 1px solid var(--neptuneColor);
		}

		.neptune {
			width: 28px;
			height: 28x;
			animation-name: rotate-neptune;
			animation-duration: 17s;
		}
	}

	@keyframes rotate-neptune {
		from {
			transform: rotate(360deg) translateX(359px) rotate(-360deg);
		}
		to {
			transform: rotate(0deg) translateX(359px) rotate(0deg);
		}
	}
}
