.solarSystem {
	display: flex;
	align-items: center;
	justify-content: center;

	.sun {
		width: 100px;
		height: 100px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -50px;
		margin-top: -50px;
    border-radius: 100%;
    // box-shadow: 0 0 50px rgb(95, 66, 66), 0 0 100px #fff, 0 0 150px #fff, 0 0 200px #fff, 0 0 250px #fff;
	}

  .planetOrbit {
    border-radius: 50%;
		position: absolute;
    border: 1px solid rgba(102, 166, 229, 0.12);
    animation-name: rotate-planet;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    .planet {
      position: absolute;
      margin-left: -10px;
    }
  }
  
	.mercuryOrbit {
    width: 150px;
		height: 150px;
		left: 50%;
		top: 50%;
		margin-left: -76px;
		margin-top: -77px;
		z-index: 10;
		animation-duration: 5s;
    
		&:hover {
      border: 1px solid var(--mercuryColor);
		}

    .mercury {
      left: 74%;
      width: 20px;
      height: 20px;
    }
	}

  .venusOrbit {
    width: 225px;
		height: 225px;
		left: 50%;
		top: 50%;
		margin-left: -113px;
		margin-top: -113px;
		z-index: 9;
    animation-duration: 7s;
    
		&:hover {
      border: 1px solid var(--venusColor);
		}

    .venus {
      left: 73.5%;
      width: 23px;
      height: 23px;
    }
	}

	.earthOrbit {
		width: 300px;
		height: 300px;
		left: 50%;
		top: 50%;
		margin-left: -150px;
		margin-top: -150px;
		z-index: 8;
		animation-duration: 9s;

		&:hover {
			border: 1px solid var(--earthColor);
		}

    .earth {
      left: 70%;
      width: 25px;
      height: 25px;
    }
	}

	.marsOrbit {
		width: 375px;
		height: 375px;
		left: 50%;
		top: 50%;
		margin-left: -186px;
		margin-top: -186px;
		z-index: 7;
		animation-duration: 11s;

		&:hover {
			border: 1px solid var(--marsColor);
		}

    .mars {
      width: 21px;
      height: 21px;
      left: 66%;
    }
	}

	@keyframes rotate-planet {
		from {
			transform: rotate(360deg);
		}
		to {
			transform: rotate(0deg);
		}
	}
}
