.solarSystem {
  margin-top: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 100vh;

	.sun {
		width: 100px;
		height: 100px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -50px;
		margin-top: -50px;
		border-radius: 100%;
		box-shadow: 0 0 10px 5px #9c8819;
	}

	.planetOrbit {
		border-radius: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		border: 1px solid rgba(102, 166, 229, 0.12);
		left: 50%;
		top: 50%;

		.planet {
			position: absolute;
			top: 50%;
			left: 50%;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
	}

	.mercuryOrbit {
		width: 164px;
		height: 164px;
		z-index: 10;

		&:hover {
			border: 1px solid var(--mercuryColor);
		}

		.mercury {
			width: 20px;
			height: 20px;
			margin-top: -10px;
			margin-left: -10px;
			animation-name: rotate-mercury;
			animation-duration: 15s;
		}

    @keyframes rotate-mercury {
      from {
        transform: rotate(0deg) translateX(82px) rotate(0deg);
      }
      to {
        transform: rotate(-360deg) translateX(82px) rotate(360deg);
      }
    }
	}


	.venusOrbit {
		width: 225px;
		height: 225px;
		z-index: 9;

		&:hover {
			border: 1px solid var(--venusColor);
		}

		.venus {
			width: 23px;
			height: 23px;
			margin-top: -11.5px;
			margin-left: -11.5px;
			animation-name: rotate-venus;
			animation-duration: 17s;
		}

    @keyframes rotate-venus {
      from {
        transform: rotate(0deg) translateX(112.5px) rotate(0deg);
      }
      to {
        transform: rotate(-360deg) translateX(112.5px) rotate(360deg);
      }
    }
	}


	.earthOrbit {
		width: 300px;
		height: 300px;
		z-index: 8;

		&:hover {
			border: 1px solid var(--earthColor);
		}

		.earth {
			width: 25px;
			height: 25px;
			margin-top: -12.5px;
			margin-left: -12.5px;
			animation-name: rotate-earth;
			animation-duration: 19s;
		}

    @keyframes rotate-earth {
      from {
        transform: rotate(0deg) translateX(150px) rotate(0deg);
      }
      to {
        transform: rotate(-360deg) translateX(150px) rotate(360deg);
      }
    }
	}


	.marsOrbit {
		width: 375px;
		height: 375px;
		z-index: 7;

		&:hover {
			border: 1px solid var(--marsColor);
		}

		.mars {
			width: 21px;
			height: 21px;
			margin-top: -10.5px;
			margin-left: -10.5px;
			animation-name: rotate-mars;
			animation-duration: 21s;
		}

		@keyframes rotate-mars {
			from {
				transform: rotate(0deg) translateX(187.5px) rotate(0deg);
			}
			to {
				transform: rotate(-360deg) translateX(187.5px) rotate(360deg);
			}
		}
	}

	.jupiterOrbit {
		width: 465px;
		height: 465px;
		z-index: 6;

		&:hover {
			border: 1px solid var(--jupiterColor);
		}

		.jupiter {
			width: 36px;
			height: 36px;
			margin-top: -18px;
			margin-left: -18px;
			animation-name: rotate-jupiter;
			animation-duration: 23s;
		}

    @keyframes rotate-jupiter {
      from {
        transform: rotate(0deg) translateX(232.5px) rotate(0deg);
      }
      to {
        transform: rotate(-360deg) translateX(232.5px) rotate(360deg);
      }
    }
	}

	.saturnOrbit {
		width: 555px;
		height: 555px;
		z-index: 5;

		&:hover {
			border: 1px solid var(--saturnColor);
		}

		.saturn {
			width: 40px;
			height: 40px;
			margin-top: -20px;
			margin-left: -20px;
			animation-name: rotate-saturn;
			animation-duration: 25s;
		}

    @keyframes rotate-saturn {
      from {
        transform: rotate(0deg) translateX(277.5px) rotate(0deg);
      }
      to {
        transform: rotate(-360deg) translateX(277.5px) rotate(360deg);
      }
    }
	}

  .uranusOrbit {
		width: 640px;
		height: 640px;
		z-index: 4;

		&:hover {
			border: 1px solid var(--uranusColor);
		}

		.uranus {
			width: 29px;
			height: 29px;
			margin-top: -14.5px;
			margin-left: -14.5px;
			animation-name: rotate-uranus;
			animation-duration: 27s;
		}

    @keyframes rotate-uranus {
      from {
        transform: rotate(0deg) translateX(320px) rotate(0deg);
      }
      to {
        transform: rotate(-360deg) translateX(320px) rotate(360deg);
      }
    }
	}

  .neptuneOrbit {
		width: 720px;
		height: 720px;
		z-index: 3;

		&:hover {
			border: 1px solid var(--neptuneColor);
		}

		.neptune {
			width: 28px;
			height: 28px;
			margin-top: -14px;
			margin-left: -14px;
			animation-name: rotate-neptune;
			animation-duration: 29s;
		}

    @keyframes rotate-neptune {
      from {
        transform: rotate(0deg) translateX(360px) rotate(0deg);
      }
      to {
        transform: rotate(-360deg) translateX(360px) rotate(360deg);
      }
    }
	}
}
