body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --color_1: white;
  --color_2: #9e9eace7;
  --color_3: hsla(0,0%,100%,0.75);
  --font-family_1: 'Antonio', sans-serif;
  --font-family_2: 'Spartan',sans-serif;
  --background-color_1: transparent;
  --background-color_2: rgb(100, 100, 115);
  --background-color_3: rgb(180, 235, 235);
  --background-color_4: rgb(238, 175, 58);
  --background-color_5: blue;
  --background-color_6: red;
  --background-color_7: #c28561;
  --background-color_8: #efc064;
  --background-color_9: #5bbfa5;
  --background-color_10: #366ce8;
}